<div class="close-btn"><button
mat-icon-button
[mat-dialog-close]="true">
<mat-icon>close</mat-icon>
</button></div>
<div class="container p-4">
  <div class="d-flex justify-content-end align-item-center ">
    <div class="col-11 text-center row">
      <h5><strong>Maternity Leave Policy</strong></h5>
    </div>
  </div>
  <h6>
    1. All female employees who have worked for 80 days in the company in the
      preceding 12 months, are entitled to maternity leave for a period of 26
      weeks (182 days) i.e. 8 weeks prior to the expected date of delivery and 18
      weeks following the delivery day, in accordance with the provisions of
      theMaternity Benefit Act, 1961 as amended vide Gazette Notification No. 934
      dated 3 April 2017. Intervening holidays will be included in the calculation
      of 182 calendar days. If a woman employee does not avail eight weeks leave
      preceding the expected date of her delivery, she can avail that leave
      followed by her delivery, provided she does not exceed 26 weeks. If however,
      the woman dies during this period, the benefit payable is only up to the
      date of her death.
    <br />
    <br />
    2. An employee can avail maternity leave up to maximum of two kids only.
      After two kids, the maternity leave is restricted to 12 weeks only, of which
      six weeks may be availed prior to expected delivery date and six week
      thereafter. If a woman employee does not avail six weeks leave preceding the
      expected date of her delivery, she can avail that leave followed by her
        delivery, provided she does not exceed 12 weeks.
    <br />
    <br />

    3. Trainees are not entitled for maternity leave.
    <br />
    <br />

    4. All salary & benefits will be paid in accordance with Maternity Benefit
    Act.
  </h6>
</div>
