<!-- chart will be displayed here -->

<div class="d-flex justify-content-end align-item-center ">

 
  <button mat-icon-button [mat-dialog-close]="true" class="col-2">
    <mat-icon>close</mat-icon>
  </button>
</div>






<div class=" mb-3 mx-4">
<div class="d-flex">
  <div class="row">
    <h5 class="w-100 text-center ">Leave Details</h5>

  <div class="container mt-2 ">
    <div class="row ">
      <div class="col-6">
        <!-- <span ><strong>Leave Type:</strong></span> -->
        <mat-form-field class="h-auto ml-1 mt-2 w-100" appearance="outline">
          <mat-label [style.color]="'blue'">Leave Type</mat-label>
          <input matInput readonly type="text" [value]="getLeaveType(users.leaveType)">

        </mat-form-field>
      </div>
      <div class="col-6">
        <!-- <span ><strong>Leave Duration:</strong></span> -->
        <mat-form-field class="h-auto ml-1 mt-2 w-100" appearance="outline">
          <mat-label [style.color]="'blue'">Leave Duration</mat-label>
          <input matInput readonly type="text" [value]="getLeaveDurationText(users.leaveDuration)">
        </mat-form-field>
      </div>

    </div>
  </div>
  <div class="container ">
    <div class="row">
      <div class="col-6 ">
        <mat-form-field class="h-auto w-100" appearance="outline" readonly>
          <mat-label [style.color]="'blue'">Leave Dates</mat-label>
          <textarea matInput readonly>{{getleave()}}</textarea>
        </mat-form-field>
      </div>
      <div class="col-6 ">
        <mat-form-field class="w-100" appearance="outline" readonly>
          <mat-label [style.color]="'blue'">Leave Reason</mat-label>
          <textarea matInput readonly>{{users.leaveReason}}</textarea>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="col-12 p-0 ">
      <mat-form-field class="h-auto ml-1 w-100" appearance="outline" readonly>
        <mat-label [style.color]="'blue'">Reject/Approve Reason</mat-label>
        <textarea matInput [(ngModel)]="reason" ></textarea>
      </mat-form-field>
    </div>
  </div>
</div>

  <div class="container m-3 w-100 ">

    <h5 class=" text-center w-100 ">Current Year Leave Report</h5>

    <canvas baseChart class="chart " width="300"[data]="barChartData" [options]="barChartOptions" [plugins]="barChartPlugins"
      [type]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)" 
      height="200"></canvas>
  </div>
</div>
  <div class="button-container d-flex justify-content-center" *ngIf="users.leaveStatus === 'PND'">
    <button mat-raised-button color="primary" class="cl1" (click)="onSubmit('Approved')" [disabled]="">Approve</button>
    <button mat-raised-button color="primary" style="margin-left: 5px;" (click)="onSubmit('Rejected')">Reject</button>
  </div>


</div>