<div >
  <mat-form-field style="width: 100%;">
    <input matInput (keyup)="applyFilter($event)" placeholder="Search...." #input>
  </mat-form-field>
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="Sl.No">
      <th mat-header-cell *matHeaderCellDef [style.font-size]="'15px'" [style.text-align]="'center'" [style.padding]="'0px'" [style.text-transform]="'uppercase'"> Sl No </th>
      <td mat-cell *matCellDef="let element; let i = index" [style.text-align]="'center'" [style.font-size]="'15px'"> {{ i + 1 }} </td>
    </ng-container>
    <ng-container matColumnDef="empId">
      <th mat-header-cell *matHeaderCellDef  [style.font-size]="'15px'" [style.text-align]="'center'" [style.padding]="'0px'" [style.text-transform]="'uppercase'"> Emp Id </th>
      <td mat-cell *matCellDef="let element" [style.text-align]="'center'" [style.font-size]="'15px'"> {{element['empId']}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef  [style.font-size]="'15px'" [style.text-align]="'center'" [style.padding]="'0px'" [style.text-transform]="'uppercase'"> Name </th>
      <td mat-cell *matCellDef="let element" [style.text-align]="'center'" [style.font-size]="'15px'"> {{element['firstName']+' '+(element['middleName'] ? element['middleName']
        :'')+' '+element['lastName']}}
      </td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef  [style.font-size]="'15px'" [style.text-align]="'center'" [style.padding]="'0px'" [style.text-transform]="'uppercase'"> Email </th>
      <td mat-cell *matCellDef="let element" [style.text-align]="'center'" [style.font-size]="'15px'"> {{element['email']}} </td>
    </ng-container>
    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef  [style.font-size]="'15px'" [style.text-align]="'center'" [style.padding]="'0px'" [style.text-transform]="'uppercase'"> Location </th>
      <td mat-cell *matCellDef="let element" [style.text-align]="'center'" [style.font-size]="'15px'"> {{element['location']}}</td>
    </ng-container>
    <ng-container matColumnDef="isManager">
      <th mat-header-cell *matHeaderCellDef  [style.font-size]="'15px'" [style.text-align]="'center'" [style.padding]="'0px'" [style.text-transform]="'uppercase'"> Is Manager </th>
      <td mat-cell *matCellDef="let element" [style.text-align]="'center'" [style.font-size]="'15px'"> {{element['isManager']}}</td>
    </ng-container>
    <ng-container matColumnDef="isAdmin">
      <th mat-header-cell *matHeaderCellDef  [style.font-size]="'15px'" [style.text-align]="'center'" [style.padding]="'0px'" [style.text-transform]="'uppercase'"> Is Admin </th>
      <td mat-cell *matCellDef="let element"[style.text-align]="'center'" [style.font-size]="'15px'"> {{element['isAdmin']}}</td>
    </ng-container>
    <ng-container matColumnDef="isActive">
      <th mat-header-cell *matHeaderCellDef  [style.font-size]="'15px'" [style.text-align]="'center'" [style.padding]="'0px'" [style.text-transform]="'uppercase'"> Is Active </th>
      <td mat-cell *matCellDef="let element" [style.text-align]="'center'" [style.font-size]="'15px'"> {{ element['isActive'] ? 'YES' : 'NO' }}</td>
    </ng-container>
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef [style.font-size]="'15px'" [style.text-align]="'center'" [style.padding]="'0px'" [style.text-transform]="'uppercase'">Action</th>
      <td mat-cell *matCellDef="let element" [style.text-align]="'center'" [style.font-size]="'15px'">
        <button (click)="onSubmit(element)" mat-icon-button color="green">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator pageSize="10"  [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons
    aria-label="Select page of periodic elements">
  </mat-paginator>
  
</div>