<!-- <br /> -->
<div style="box-shadow: none;">
    <!-- <div class="sz"> -->
    <mat-form-field>
      <mat-label>Search....</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>
  
    <table mat-table [dataSource]="dataSource">
      <!-- Position Column -->
      <ng-container matColumnDef="srno">
        <th mat-header-cell *matHeaderCellDef  [style.text-transform]="'uppercase'"> Sl No: </th>
        <td mat-cell *matCellDef="let element; let i = index"> {{ i+1 }} </td>
      </ng-container>
  
      <!-- Day Column -->
      <ng-container matColumnDef="day">
        <th mat-header-cell *matHeaderCellDef  [style.text-transform]="'uppercase'"> Day </th>
        <td mat-cell *matCellDef="let element"> {{ element['day']*element['workDuration']}} </td>
      </ng-container>
  
      <!-- status Column -->
      <ng-container matColumnDef="leaveStatus">
        <th mat-header-cell *matHeaderCellDef  [style.text-transform]="'uppercase'"> Status </th>
        <td mat-cell *matCellDef="let element"> {{getLeaveStatusText(element['applicationStatus']) }} </td>
      </ng-container>
  
      <!-- Request-Time Column -->
      <ng-container matColumnDef="requestedDate">
        <th mat-header-cell *matHeaderCellDef  [style.text-transform]="'uppercase'"> Request Time </th>
        <td mat-cell *matCellDef="let element"> {{ element['requestedDate'] | date : "MM/dd/yyyy HH:mm" }} </td>
      </ng-container>
  
      <!-- App./rej by Column -->
      <ng-container matColumnDef="approvedBy">
        <th mat-header-cell *matHeaderCellDef  [style.text-transform]="'uppercase'"> Approved/Rejected By </th>
        <td mat-cell *matCellDef="let element"> {{ element['approvedBy'] }} </td>
      </ng-container>
  
      <!-- App./rej time Column -->
      <ng-container matColumnDef="approvedDate">
        <th mat-header-cell *matHeaderCellDef  [style.text-transform]="'uppercase'"> Approved/Rejected Time </th>
        <td mat-cell *matCellDef="let element"> {{ element['approvedDate'] | date : "MM/dd/yyyy HH:mm" }} </td>
      </ng-container>
  
  
      <!--Action  Column -->
      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef  [style.text-transform]="'uppercase'"> Action </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="openViewDialog(element['id'])">
            <mat-icon>visibility</mat-icon>
          </button>
          <button mat-icon-button color="accent" *ngIf="element['applicationStatus'] === 'PND' || element['applicationStatus'] === 'APR' "
            (click)="openDialog2(element['id'])">
            <mat-icon>cancel</mat-icon>
          </button>
        </td>
      </ng-container>
  
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
  
    <mat-paginator pageSize="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    <!-- </div> -->
  </div>
